body{
    background-color: rgb(255, 238, 243);
}
h1{
    font: "Cinzel" ;
    text-align: center;
    background-color: aliceblue;
    padding: 50px;
    border: 5px dotted black;
    font-style: italic;
    color:rgb(77, 70, 99);
}
#tag{
    color: rgb(77, 70, 99);
    text-align: center;
}
a:hover {
color: pink;
}
a{
    color: rgb(77, 70, 99);
}
#about >p{
    margin:20px;
    border: 1px dotted black;
}
p.class{
    background-color:aliceblue;
    padding: 10px; 
}
